<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MyBookMapper">

    <select id="selectByPrimaryKeyForUpdate" resultType="com.example.generated.model.Book">
        select id, title from books where id = #{id} for update
    </select>

</mapper>
